<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>我的项目</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/projshow.css' %}">
</head>
<body>
    <nav class="sidebar">
        <div class="sidebar-header">
            <a href="/" style="text-decoration: none">
                <img src="{% static 'img/touxiang.jpg' %}" alt="头像" class="sidebar-avatar">
                <h3>Ndefl</h3>
            </a>
        </div>
        
        <ul class="sidebar-menu">
            <li>
                <a href="/" class="active">
                    <i class="fa-solid fa-house"></i>
                    <span>主页</span>
                </a>
            </li>
            <li>
                <a href="/projshow/">
                    <i class="fa-solid fa-folder"></i>
                    <span>项目</span>
                </a>
            </li>
            <li>
                <a href="/music/">
                    <i class="fa-solid fa-music"></i>
                    <span>音乐</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="main-content">
        <header>
            <h1>我的项目列表</h1>
        </header>
        <main>
            <h4>数据分析与可视化</h4>
            <div class="project-grid">
                <div class="project-card">
                    <div class="card-header">
                        <i class="fa-solid fa-bicycle"></i>
                        <h2>共享电动车的合理投放</h2>
                    </div>
                    <p>2021.5 - 2021.6</p>
                    <p>上大学后做的第一个项目，担任组长，小组共6人</p>
                    <p>技术栈：Hadoop、MapReduce、Python</p>
                    <p>项目内容：基于Hadoop</p>
                    <a href="#">了解更多</a>
                </div>
                <div class="project-card">
                    <div class="card-header">
                        <i class="fa-solid fa-chart-line"></i>
                        <h2>B站直播运营分析</h2>
                    </div>
                    <p>2021.5 - 2021.6</p>
                    <p>技术栈：Hadoop、Hive</p>
                    <p>项目内容：</p>
                    <a href="biliproj/" target="_blank" rel="noopener noreferrer">了解更多</a>
                </div>
                <div class="project-card">
                    <div class="card-header">
                        <i class="fa-solid fa-"></i>
                        <h2>基于Python的疫情数据分析与可视化</h2>
                    </div>
                    <p>2023</p>
                    <p>技术栈：Python、Flask</p>
                    <p>项目内容： </p>
                    <a href="#">了解更多</a>
                </div>
                <div class="project-card">
                    <div class="card-header">
                        <i class="fa-solid fa-heart"></i>
                        <h2>基于Kaggle心脏病数据集的数据分析和分类预测</h2>
                    </div>
                    <p>2024.11</p>
                    <p>技术栈：Python、Pandas</p>
                    <p>项目内容：利用 Kaggle 提供的心脏病数据集，通过数据分析和机器学习算法，建立有效的心脏病预测模型，为临床诊断和预防提供支持。 </p>
                    <a href="#">了解更多</a>
                </div>
                <div class="project-card">
                    <div class="card-header">
                        <i class="fa-solid fa-cloud"></i>
                        <h2>基于Python的广东旅游数据分析与可视化</h2>
                    </div>
                    <p>2024.10-2024.12</p>
                    <p>技术栈：Python、Flask</p>
                    <p>项目内容： </p>
                    <a href="#">了解更多</a>
                </div>
            </div>
            <h4>爬虫</h4>
            <div class="project-grid">
                <div class="project-card">
                    <div class="card-header">
                        <i class="fa-solid fa-music"></i>
                        <h2>网易云音乐</h2>
                    </div>
                    <p>2024.06.17-2024.06.20</p>
                    <p>技术栈：Python、Scrapy、JS逆向</p>
                    <p>项目内容：使用Scrapy框架采集网易云歌单数据，并使用双管道存储数据；使用JS逆向工程对评论数据进行采集</p>
                    <a href="#">了解更多</a>
                </div>
                <div class="project-card">
                    <div class="card-header">
                        <i class="fa-solid fa-search"></i>
                        <h2>百度指数</h2>
                    </div>
                    <p>2024.12</p>
                    <p>技术栈：Python、JS逆向</p>
                    <p>项目内容：使用JS逆向工程对百度指数数据进行采集</p>
                    <a href="#">了解更多</a>
                </div>
            </div>
        </main>
        <footer>
            <p>版权所有 &copy; 2025 你的名字</p>
        </footer>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const headers = document.querySelectorAll('main h4');
        
        // 默认将所有内容收起
        headers.forEach(header => {
            const content = header.nextElementSibling;
            header.classList.add('collapsed');
            content.classList.add('collapsed');
        });
        
        // 添加点击事件
        headers.forEach(header => {
            header.addEventListener('click', function() {
                const content = this.nextElementSibling;
                this.classList.toggle('collapsed');
                content.classList.toggle('collapsed');
            });
        });
    });
</script>
</html>